.edit,.del,.pager span, .attach-policy{
    color:blue;
    cursor:pointer;
}
.pager span.gray{
    color: gray;
}
.pager span{
    margin-right:10px;
}
.fake-header{
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}